replicaCount: 1

image:
  repository: ghcr.io/schoderer/hord_watcher
  pullPolicy: IfNotPresent
  tag: "0.3.1"

hordWatcher:
  # No entry defaults to all namespaces
  watchedNamespaces:
  # - default
  # - ...

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 3000

resources: {}
#  limits:
#    cpu: 100m
#    memory: 128Mi
#  requests:
#    cpu: 20m
#    memory: 32Mi

nodeSelector: {}

tolerations: []

affinity: {}
